## Slurm template for launching batch jobs from RStudio on Unity
## Authors: https://github.com/birdflow-science/BirdFlowPipeline/blob/main/inst/batchtools.conf.R, Georgia Stuart, Bradley Compton
## 21 May 2025


#!/bin/bash


## Relative paths are not handled well by Slurm
<%
log.file = fs::path_expand(log.file)
-%>

#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
#SBATCH --time=<%= resources$walltime %>
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=<%= resources$ncpus %>
#SBATCH --mem=<%= resources$memory %>G                ## memory is in GB, not MB
#SBATCH --export=None
##SBATCH --mail-type=END                               ## send an email when job finishes

## Write Slurm job id to a log file for retrieval by get_job_id()
echo $SLURM_JOB_ID > <%= log.file %>.slurmjobid

## Export value of DEBUGME environemnt var
export DEBUGME=<%= Sys.getenv("DEBUGME") %>


## Call batchtools inside container
module load apptainer/latest
export APPTAINER_BINDPATH="/run/munge,/var/run/munge,/etc/slurm,/var/spool/slurm/slurmd/conf-cache/slurm.conf,$APPTAINER_BINDPATH"

apptainer exec /modules/admin-resources/ood-dev/unity-r_4.4.0.sif Rscript --no-restore --quiet --no-save -e 'batchtools::doJobCollection("<%= uri %>")'
